
<form class="container" [formGroup]="form1" (ngSubmit)="onSubmit(form1.value)">
    
    <div [ngStyle]="{'text-align':'center','margin':'50px 425px 5px','backgroundColor':'silver'}" class="form-group"> <br>
        <h3 [ngStyle]="{'color':'black','text-align':'center','text-shadow':'3px  4px 5px  red'}">User Login</h3>
   <b> User-MailId </b> : <input type="text" name="email" placeholder="username@gmail.com" formControlName="email">
    &nbsp;<br/><br/>
   <b> Password </b> : <input type="password" name="password" placeholder="password" formControlName="password"><br/><br/>
</div>

<div [ngStyle]="{'text-align':'center'}"  class="form-group">
    <input type="submit"value="Login" [disabled]="!form1.valid" [ngStyle]="{'backgroundColor':'#008CBA','padding':'5px 13px','border-radius':'8px','color':'white','display':'inline-block'}" />
</div>
    
</form>