
  <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search by taskname or status or priority or isbookmarked">
     
  </nav>
  <div class="panel panel-primary" >
    <div class="panel-heading" >
      <h2 [ngStyle]="{'text-align':'center'}">Task List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" >
        <thead >
            <tr>
              <th class="vee" (click)="sort('task_Id')">TaskId &nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort('name')">TaskName &nbsp;<i class="fa fa-sort"></i></th>
             <th>owner_Id</th>
              <th>status</th>
              <th>priority</th>
              <th>isBookmarked</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pro of tasdata  |async |filter:searchText | orderBy:key:reverse | paginate :{itemsPerPage:5,currentPage:p }">
             <td >{{pro.task_Id}}</td>
             <td>{{pro.name}}</td>
            <td>{{pro.owner_Id}}</td>
             <td>{{pro.status}}</td>
             <td>{{pro.priority}}</td>
            
             <td>{{pro.isBookmarked}}</td>
            
             <td><button (click)="deleteTask(pro.task_Id)" class ="btn btn-primary"  [ngStyle]="{'backgroundColor':'#D7A9E3FF','color':'black'}" >Delete</button>
              &nbsp;
              <button (click) ="updateTask(pro.task_Id)" class ="btn btn-primary"  [ngStyle]="{'backgroundColor':'#8BBEE8FF','color':'black'}" >Update</button>
              &nbsp;
              <button (click)="taskDetails(pro.task_Id)" class ="btn btn-primary"  [ngStyle]="{'backgroundColor':'#A8D5BAFF','color':'black'}" >Details</button>
              &nbsp;
          </td>
              </tr>
          </tbody>
          <pagination-controls   (pageChange)="p=$event"></pagination-controls>
        </table>
      </div>
    </div>
    <div><button (click)="list()"  class ="btn btn-primary" [ngStyle]="{'backgroundColor':'#008CBA','color':'white'}">Home</button></div>
